@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
ul{
    list-style: none;
}
li{
    display: inline;
}
.nav1 {
    background-color: black;
    margin: 0 auto;
    text-align: right;
    height: 40px;
    padding: 5px, 
}
.nav1  li {
    color: white;
    padding-right: 5px;
}
.nav2 {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    text-align: center;  
}
.nav2 li {
    text-align: center;
    color: white;
    padding-right: 5px;
}

header {
    background-image: url(./images/hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 400px
}
#website-logo{
    color: white;
}
button {
    color: white;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid white;
    padding: 3px;
    margin-left: 20%;
}
main {
    width: 75vw;
    margin: 0 auto;
    outline: 1px solid green;
}

p {
    font-family: "Montserrat", sans-serif;
}

.main-header-section {
    text-align:center;
}
.main-content-card {
    display:flex;
    justify-content: space-between;
    padding: 20px;
}
.card-content, .card-img {
    width: 50%;
    padding: 20px;
}
.card-img img {
    width: 100%;
}

@media (max-width: 600px) {
    .main-content-card {
        display: flex;
        flex-direction: column;
    }
    main {
        text-align: center;
    }
    .card-content,.card-img {
        width: 100%;
        padding: 0;
    }
    .card-content {
        order: 1;
    }

}